<%- include('../../partials/siteHeader')  %>
<div class="container">
  <div class="row my-3">
    <div class="col-md-6 offset-md-3">
      <div class="card card-body">
        <form action="/auth/login" method="POST" id="myForm">
          <h2 class="mb-3">Login your account</h2>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control <%= error.email ? 'is-invalid' : '' %>"
              placeholder="Enter your valid email">
            <div class="invalid-feedback">
              <%= error.email && error.email %>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password"
              class="form-control <%= error.password ? 'is-invalid' : '' %>" placeholder="Enter password">
            <div class="invalid-feedback">
              <%= error.password && error.password %>
            </div>
          </div>
          <div class="text-right">
            <input type="submit" value="Login" class="btn btn-primary">
          </div>
        </form>
        <a class="mt-3" href="/auth/signup">Don't have an account? create here</a>
        <!-- <a href="/auth/forget-password" class="forgetPassword">Forget Password</a> -->
      </div>
    </div>
  </div>
</div>
<%- include('../../partials/siteFooter') %>

</body>

</html>