<%- include('../../../partials/siteHeader') %>


<div class="container">
  <div class="row">
    <div class="col-md-2 my-3">
      <%- include('../../../partials/sidebar.ejs') %>
    </div>
    <div class="col-md-10 my-3">
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-body">
            <h2>All posts</h2>
            <%if(posts.length === 0) {%>
            <div class="card">
              <h5>There is no post available</h5>
            </div>
            <%} else {%>
            <div class="card-deck">
              <%for(let post of posts.reverse()){%>
              <div class="card" style="width: 10em">
                <img height="200" src="<%= post.thumbnail%>" alt="post.title" class="card-img-top">
                <div class="card-body">
                  <a href="/post/edit/<%=post._id%>">
                    <h5 class="card-title" style="color:#222"><%=post.title%></h5>
                  </a>
                </div>
              </div>
              <%}%>
              </div>
            <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include('../../../partials/siteFooter') %>

  <script src="https://cdn.tiny.cloud/1/byka9vbuu4zg6q2m9kp6hk9mdbu3n96kcguo0uzqgkaeis36/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <!-- <script src="/scripts/tinymce.js"></script> -->

  </body>

  </html>